{{#with cart}}
<div class = "info-cart">
       <img src = "{{imageURL}}">
       <h3>Quantity: {{quantity}}</h3>
       <button class = "button3" name = "btn"><a class = "info-link3" href = "/purchased">Purchase</a></button>
</div>
{{/with}}