{{#with item}}
<div class = "info-desc">
       <img src = "{{imageURL}}">
       <h3>{{description}}</h3>
       <button class = "button2" name = "btn"><a class = "info-link2" href = "/cart/{{id}}">Add to cart</a></button>
</div>
{{/with}}